@import "../../styles/variables.scss";

.error-message {
  font-size: 20px;
  color: $main-color;
  text-align: center;
  padding: 20px;
  width: 80%;
  min-width: 400px;
  background: $error-color;
}
